# Работа с базами данных

Материалы:
* Макрушин С.В. Лекция 6: Работа с базами данных
* https://sqliteonline.com/
* https://docs.python.org/3/library/sqlite3.html
* https://www.geeksforgeeks.org/sql-join-set-1-inner-left-right-and-full-joins/
* https://www.datacamp.com/community/tutorials/group-by-having-clause-sql

## Задачи для совместного разбора

1. Работая с базой данных `Chinook_Sqlite.sqlite`, найдите и выведите на экран имена и фамилии всех заказчиков из Канады

2. Найти и вывести на экран названия всех альбомов группы Accept

3. Создайте базу данных с названием вашей группы. В этой базе данных создайте таблицу Student, содержащую 2 столбца: id и name. Добавьте в таблицу Student информацию о студентах, сидящих с вами по соседству.

## Лабораторная работа 6

1. Создайте файл базы данных c названием `recipes.db`. Создайте объект-курсор.

In [1]:
import sqlite3

# 1
import pandas as pd

con = sqlite3.connect("../data/recipes.db")
cur = con.cursor()

2. Напишите и выполните SQL-запрос для создания таблицы рецептов `Recipe`. Таблица должна содержать следующие поля:
`id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`. Определитесь с типами и составом ключевых полей.

In [2]:
# 2
sql_2 = """
create table Recipe (
    id integer primary key autoincrement not null,
    name varchar(255),
    minutes integer,
    submitted timestamp,
    description text,
    n_ingredients integer
)
"""
try:
    cur.execute(sql_2)
    con.commit()
except sqlite3.OperationalError as err:
    print("Ошибка:", err)

Ошибка: table Recipe already exists

3. Напишите и выполните SQL-запрос для создания таблицы отзывов `Review`. Таблица должна содержать следующие поля:
`id`, `user_id`, `recipe_id`, `date`, `rating`, `review`. Определитесь с типами полей, набором ключевых полей. При помощи внешнего ключа соедините две таблицы.

In [3]:
# 3
sql_3 = """
create table Review (
    id integer primary key autoincrement not null,
    user_id integer not null,
    recipe_id integer,
    date timestamp,
    rating integer,
    review text,
    foreign key (recipe_id) references
    Recipe (id)
)
"""
try:
    cur.execute(sql_3)
    con.commit()
except sqlite3.OperationalError as err:
    print("Ошибка:", err)

Ошибка: table Review already exists

4. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample_with_tags_ingredients.csv` (__ЛР5__) в созданные таблицы

In [4]:
# 4
# recipes_sample_with_tags_ingredients = recipes.merge(tags, left_on="id", right_on="id")
# recipes_sample_with_tags_ingredients.to_csv("../data/recipes_sample_with_tags_ingredients")
reviews = pd.read_csv("../data/reviews_sample.csv")
reviews.rename(columns={"Unnamed: 0": "id"}, inplace=True)

recipes = pd.read_csv("../data/recipes_sample.csv")
recipes_sample = recipes[["id", "name", "minutes", "submitted", "description", "n_ingredients"]]

try:
    reviews.to_sql("Review", con, if_exists="append", index=False)
except sqlite3.IntegrityError as err:
    print("Ошибка:", err)

try:
    recipes_sample.to_sql("Recipe", con, if_exists="append", index=False)
except sqlite3.IntegrityError as err:
    print("Ошибка:", err)

Ошибка: UNIQUE constraint failed: Review.id
Ошибка: UNIQUE constraint failed: Recipe.id

5. Найдите все рецепты, для выполнения которых нужно ровно 10 ингредиентов. Выведите на экран первые 5 из найденных рецептов.

In [5]:
# 5
sql_5 = """
select name from Recipe
where n_ingredients = 10
"""
cur = con.cursor()
cur.execute(sql_5)
print(*cur.fetchmany(5), sep="\n")
print("-" * 30)

('lee s hot crab dip',)
('feijoada  brazilian bean soup  ii',)
('greek mushroom salad',)
('cucumber relish',)
('basil parmesan biscuits',)
------------------------------

6. Найдите название рецепта, для выполнения которого требуется больше всего времени.

In [6]:
# 6
sql_6 = """
select name from Recipe
where minutes = (
    select max(minutes)
    from Recipe)
"""
cur = con.cursor()
cur.execute(sql_6)
print(*cur.fetchall(), sep="\n")
print("-" * 30)

('strawberry liqueur',)
('blueberry liqueur',)
------------------------------

7. Запросите у пользователя id рецепта и верните информацию об этом рецепте. Если рецепт отсуствует, выведите соответствующее сообщение.

In [7]:
# 7
sql_7 = """
select * from Recipe
where id = ?
"""
id = (int(input("Введите id >>> ")),)
cur = con.cursor()
cur.execute(sql_7, id)
result = cur.fetchone()
if result:
    print(result)
else:
    print("Не найдено")
print("-" * 30)

Введите id >>> 48
(48, 'boston cream pie', 135, '1999-08-24', None, 15)
------------------------------

8. Найдите кол-во отзывов с рейтингом 5.

In [8]:
# 8
sql_8 = """
select count(id) from Review
where rating = 5
"""
cur = con.cursor()
cur.execute(sql_8)
print(*cur.fetchall(), sep="\n")
print("-" * 30)

(91361,)
------------------------------

9. Найдите кол-во уникальных рецептов, не имеющих отзывов с рейтингом, меньше 4.

In [9]:
# 9
sql_9 = """
select count(id) from Review
where rating < 4 and review is Null
"""
cur = con.cursor()
cur.execute(sql_9)
print(*cur.fetchall(), sep="\n")
print("-" * 30)

(0,)
------------------------------

10. Найдите кол-во рецептов, опубликованных в 2010 году и имеющих длину не менее 15 минут.

In [10]:
# 10
sql_10 = """
select count(Recipe.id) from Review join Recipe on Review.recipe_id=Recipe.id
where minutes >= 15 and submitted between '2010-01-01' and '2010-12-31'
"""
cur = con.cursor()
cur.execute(sql_10)
print(*cur.fetchall(), sep="\n")
print("-" * 30)

(2729,)
------------------------------

11. Выберите id рецепта, название рецепта, id пользователя, оставившего отзыв, дату отзыва и рейтинг для тех рецептов, которые имеют не менее 3 ингредиентов. Отсортируйте результат по id рецепта.

In [11]:
# 11
sql_11 = """
select Recipe.id,
        name,
        user_id,
        date,
        rating
from Review join Recipe on Review.recipe_id=Recipe.id
where n_ingredients > 3
order by Recipe.id
"""
cur = con.cursor()
cur.execute(sql_11)
print(*cur.fetchall()[:10], sep="\n")
print("-" * 30)

(48, 'boston cream pie', 32421, '2002-03-15', 0)
(48, 'boston cream pie', 68674, '2004-05-03', 2)
(55, 'betty crocker s southwestern guacamole dip', 53959, '2006-01-12', 4)
(55, 'betty crocker s southwestern guacamole dip', 165567, '2006-03-31', 5)
(55, 'betty crocker s southwestern guacamole dip', 1060485, '2009-04-07', 5)
(55, 'betty crocker s southwestern guacamole dip', 851190, '2010-05-23', 5)
(66, 'black coffee barbecue sauce', 42938, '2002-10-21', 4)
(66, 'black coffee barbecue sauce', 8679, '2003-03-17', 5)
(66, 'black coffee barbecue sauce', 136813, '2007-04-14', 5)
(66, 'black coffee barbecue sauce', 498631, '2007-05-11', 5)
------------------------------